*
!/.gitignore
!/.editorconfig
!.htaccess
!/.htaccess.sample
!/.php-cs-fixer.dist.php
!/.user.ini
!/CHANGELOG.md
!/COPYING.txt
!/Gruntfile.js.sample
!/LICENSE.txt
!/LICENSE_AFL.txt
!/LICENSE_EE.txt
!/README_EE.md
!/SECURITY.md
!/COPYING.txt
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/bin
!/bin/**
!/composer.json
!/composer.lock
!/dev
!/dev/**
!/generated/.htaccess
!/grunt-config.json
!/grunt-config.json.sample
!/lib/
!/lib/**
!/nginx.conf
!/nginx.conf.sample
!package.json
!/package.json.sample
!/patches
!/patches/**
!/phpserver
!/phpserver/**
!/pub
!/pub/cron.php
!/pub/errors
!/pub/errors/**
!/pub/get.php
!/pub/health_check.php
!/pub/.htaccess
!/pub/index.php
!/pub/media
!/pub/media/.htaccess
!/pub/opt/**
!/pub/static
!/pub/static/.htaccess
!/pub/static.php
!/pub/.user.ini
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/vendor
!/vendor/.htaccess
error_log
*.zip
*.tar
*.tar.gz
*.taz
*.sql
*.sql.gz
*.bk
*.bak
*-bak
*-bk
